{% extends "complete/base.html" %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/wmm/customize.css"/>
{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_5.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p> -->
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">私人定制</h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="col-lg-31 sidebar">
        <div class="customize">
            <div class="sidebar-wrap bg-light ftco-animate">
                <h3 class="heading mb-4">请填写基本出行信息</h3>
                <form action="#" method="POST" accept-charset="utf-8">
                    {% csrf_token %}
                    <div class="fields">
                        <P>*出行人数</P>
                        <div class="form-group1">
                            <select name="travelNum" class="form-control1">
                                {#                                 placeholder="Keyword search"#}
                                <option>2人</option>
                                <option>3人</option>
                                <option>4人</option>
                                <option>5人</option>
                                <option>5人以上</option>
                            </select>
                            <hr class="line"/>
                            <select name="childNum" class="form-control1" placeholder="Keyword search">
                                <option>没有儿童</option>
                                <option>2岁以下婴儿1位</option>
                                <option>2岁以下婴儿2位</option>
                                <option>2-6岁婴儿1位</option>
                                <option>2-6岁婴儿2位</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <br>

                        <P>*往返城市</P>
                        <div class="form-group1">
                            <input type="text" class="form-control1" placeholder="出发城市" name="departureCity">
                            <hr class="line"/>
                            <input type="text" class="form-control1" placeholder="返回城市" name="destinationCity">
                        </div>
                        <br>

                        <P>*往返时间</P>
                        <div class="form-group1">
                            <input type="text" id="checkin_date" class="form-control1" placeholder="出发时间" name="departureTime">
                            <hr class="line"/>
                            <input type="text" id="checkin_date" class="form-control1" placeholder="返回时间" name="destinationTime">
                        </div>
                        <br>

                        <P>*选择专员</P>
                        <a href="{% url "expertList" %}" >点击此处查看专员详细信息</a>
                        <div class="form-group1">
                            <select name="expertName" class="form-control2" placeholder="Keyword search">
                                {% for expert in experts %}
                                    <option value="{{ expert }}">{{ expert }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>

                        <P>*备注</P>
                        <textarea name="note" style="width: 900px;height: 140px;resize: none" placeholder="请填写备注信息"></textarea>
                        <br>
                        <input class="submitBtn" type="submit" value="提交"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}