{% extends "complete/base.html" %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/wmm/customize.css"/>
    <style>
        .star {
            padding-left: 75px;
            overflow: hidden;

        }

        .star li {
            float: left;
            list-style: none;
            width: 27px;
            height: 27px;
            background: url(/static/images/star.gif)
        }

        .star li a {
            display: block;
            width: 100%;
            padding-top: 27px;
            overflow: hidden;
        }

        .star li.light {
            background-position: 0 -29px;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_5.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p> -->
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">订单详细信息</h1>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>

    <div class="col-lg-32 sidebar">
        <div class="customize">
            <div class="sidebar-wrap bg-light ftco-animate">
                <!-- <h3 class="heading mb-4">您的订单信息如下 <style>h3{margin: auto;}</style></h3> -->
{#                <form action="#">#}
                    <div class="fields">
                        <div>
                            <h3>订单详情
                                <style>
                                    h3 {
                                        color: aquamarine
                                    }
                                </style>
                            </h3>
                            <br>
                            <h5>{{ state }}
                                <style>
                                    h5 {
                                        margin: auto;
                                    }
                                </style>
                            </h5>
                            <br>
                            {#                            <div>#}
                            {#                                <p>订单金额:<style>#}
                            {#                                        p {#}
                            {#                                            display: inline#}
                            {#                                        }#}
                            {#                                    </style>#}
                            {#                                </p>#}
                            {#                                <input type="text" class="form-control3" readonly='true' style="border:none"#}
                            {#                                    value="2300元">#}
                            {#                            </div>#}
                            {#                            <br>#}
                            <div>
                                <p>订单单号:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.orderID }}>
                            </div>
                            <br>
                            <div>
                                <p>预定日期:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.date }}>
                            </div>
                        </div>
                        <br>
                        <div>
                            <h3>旅行信息
                                <style>
                                    h3 {
                                        color: aquamarine
                                    }
                                </style>
                            </h3>
                            <br>
                            <div>
                                <p>出行人数:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.travelNum }}>
                            </div>
                            <br>
                            <div>
                                <p>携带儿童:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.childNum }}>
                            </div>
                            <br>
                            <div>
                                <p>出发城市:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.departureCity }}>
                            </div>
                            <br>
                            <div>
                                <p>返回城市:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.destinationCity }}>
                            </div>
                            <br>
                            <div>
                                <p>出发时间:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.departureTime }}>
                            </div>
                            <br>
                            <div>
                                <p>返回时间:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.destinationTime }}>
                            </div>
                            <br>
                            <div>
                                <p>订单备注:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.intent }}>
                            </div>


                        </div>
                        <br>
                        <div>
                            <h3>所用专员
                                <style>
                                    h3 {
                                        color: aquamarine
                                    }
                                </style>
                            </h3>
                            <br>
                            <h5>{{ comment }}
                                <style>
                                    h5 {
                                        margin: auto;
                                    }
                                </style>
                            </h5>
                            <br>
                            <div>
                                <p>专员姓名:
                                    <style>
                                        p {
                                            display: inline
                                        }
                                    </style>
                                </p>
                                <input type="text" class="form-control3" readonly='true' style="border:none"
                                       value={{ order.expert.name }}>
                            </div>
                            <br>
                            <P>评价专员：</P>
                            <br>
                            <br>
                            <form action="#" method="POST" accept-charset="utf-8">
                                {% csrf_token %}
                                <textarea name="comment"
                                          style="width: 715px;height: 60px;resize: none">{{ order.comment }}</textarea>
                                <br>
                                <br>
                                <div>
                                    <p>评分</p>
                                    <ul class="star">
                                        <li name="lili"><a href="javascript:;">1</a></li>
                                        <li name="lili"><a href="javascript:;">2</a></li>
                                        <li name="lili"><a href="javascript:;">3</a></li>
                                        <li name="lili"><a href="javascript:;">4</a></li>
                                        <li name="lili"><a href="javascript:;">5</a></li>
                                    </ul>
                                </div>
                                <input id="totalNum"  name="totalnum" type="hidden">
                                <br>
                                <input class="submitBtn" type="submit" value="确定"/>
                            </form>
                        </div>

                    </div>
            </div>
        </div>
    </div>

    <script>
        var num = finalnum = tempnum = 0;
        var lis = document.getElementsByName("lili");
        {#//num:传入点亮星星的个数#}
        {#//finalnum:最终点亮星星的个数#}
        {#//tempnum:一个中间值#}

        function fnShow(num) {
            finalnum = num || tempnum;//如果传入的num为0，则finalnum取tempnum的值
            for (var i = 0; i < lis.length; i++) {
                lis[i].className = i < finalnum ? "light" : "";//点亮星星就是加class为light的样式
            }
            document.getElementById("totalNum").value=finalnum;
        }

        for (var i = 1; i <= lis.length; i++) {
            lis[i - 1].index = i;
            lis[i - 1].onmouseover = function () { //鼠标经过点亮星星。
                fnShow(this.index);//传入的值为正，就是finalnum
            };
            lis[i - 1].onmouseout = function () { //鼠标离开时星星变暗
                fnShow(0);//传入值为0，finalnum为tempnum,初始为0
            };
            lis[i - 1].onclick = function () { //鼠标点击,同时会调用onmouseout,改变tempnum值点亮星星
                tempnum = this.index;
            }
        }
        window.onload = function () {
            starNum ={{ order.mark }};
            console.log(starNum);
            fnShow(starNum);
        };
    </script>
{% endblock %}