{% extends "complete/base.html" %}

{% block link %}
{#    <link rel="stylesheet" type="text/css" href="/static/css/wmm/customize.css"/>#}
    <link rel="stylesheet" href="/static/css/wjh/wjh.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/wjh/jquery.wjh.js"></script>
{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_5.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p> -->
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">订单列表</h1>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>


{#    <div class="col-lg-32 sidebar">#}
{#        <script src='/static/jquery.js'></script>#}
{##}
{##}
{#        <h3 style="margin: auto"> 您的历史订单</h3>#}
{#        <br>#}
{#        <br>#}
{#        <table>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td>订单号#}
{#                <td>预定日期#}
{#                <td>专员姓名#}
{#                <td>往返时间#}
{#                <td>往返城市#}
{#                <td>#}
{#                    <br>#}
{#                    {% for order in orderlist %}#}
{#                        <tr>#}
{#                        <td >{{ order.orderID }}#}
{#                        <td>{{order.date }}#}
{#                        <td>{{ order.expert.name }}#}
{#                        <td>{{ order.departureTime }}---{{ order.destinationTime }}#}
{#                        <td>{{ order.departureCity }}---{{ order.destinationCity }}#}
{#                        <td ><a name ="viewDetail" href="/orderDetail/<{{ order.orderID }}>">查看详情</a>#}
{#                        <br>#}
{#                    {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#        <br>#}
{#        <input class="submitBtn" type="submit" value="确定"/>#}
{#        <br>#}
{#        <br>#}
{#    </div>#}
    <h3 style="text-align: center"> 您的历史订单</h3>
    <section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>订单编号</th>
                <th>预定日期</th>
                <th>专员姓名</th>
                <th>往返时间</th>
                <th>往返城市</th>
                <th>订单状态</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orderlist %}
                <tr>
                    <td>{{ order.orderID }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.expert.name }}</td>
                    <td>{{ order.departureTime }}---{{ order.destinationTime }}</td>
                    <td>{{ order.departureCity }}---{{ order.destinationCity }}</td>
                    <td>
                        {% if order.state is 1 %}
                            待完成
                        {% endif %}
                        {% if order.state is 2 %}
                            已完成
                        {% endif %}
                        {% if order.state is -1 %}
                            已取消
                        {% endif %}
                        {% if order.state is -2 %}
                            已拒绝
                        {% endif %}

                    </td>
                    <td>
                        <a name ="viewDetail" href="/orderDetail/<{{ order.orderID }}>">查看详情</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</section>
{% endblock %}








