{% extends "complete/base.html" %}
{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/personalBackground2.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }"  >
            <img src="/static/images/member.jpg" alt="Responsive image" class="userInfo img-thumbnail" width="180" height="180">

              <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="margin-bottom: 10px; font-size: 2.5rem">{{ member.name }}的窝</h1>
              <div >
                  <p class="inline"><strong>定位：{{ member.location }}</strong></p>

                  <p class="inline"><strong>邮箱：{{ member.email }}</strong></p>

                   <p class="inline"><strong>粉丝数: {{ member.fansNum }}</strong></p>
              </div>

          </div>
        </div>
      </div>
    </div>


    <section class="strategies ftco-section bg-light">

      <div class="container">
          <div class="container strategy col-md-7 slider-text" data-scrollax-parent="true"  >
             <p class="browse d-md-flex" style="width: 650px">
            	<span class="d-flex justify-content-md-center align-items-md-center" ><a href="#" style="border-bottom: 1.5px solid rgb(248,89,89);"><i class="flaticon-fork"></i>我的攻略</a></span>
            	<span class="d-flex justify-content-md-center align-items-md-center" ><a href="#"><i class="flaticon-meeting-point"></i>写攻略</a></span>
                <span class="d-flex justify-content-md-center align-items-md-center" ><a href="#"><i class="flaticon-hotel"></i>我的订单</a></span>
               <span class="d-flex justify-content-md-center align-items-md-center" ><a href="{% url "update" %}"><i class="flaticon-shopping-bag"></i>修改密码</a></span>
                 <span class="d-flex justify-content-md-center align-items-md-center" ><a href="{% url "update" %}"><i class="flaticon-like"></i>关注列表</a></span>
             </p>
            </div>

        <div class="row d-flex">
          {% for singleStrategy in strategies %}
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/image_1.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<span class="tag">{{ singleStrategy.strategyTitle }}</span>
                <h3 class="heading mt-3"><a href="#">{{ singleStrategy.content| slice:":30" }}</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">{{ singleStrategy.createDate }}</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> {{ singleStrategy.diggNumber }}</a></div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}