{% extends "complete/base.html" %}
    <!-- END nav -->

{% block link %}
<style>
.bk-img{
  background-image: url({{ strategy.coverUrl }});
}
</style>
{% endblock%}
    {% block content%}

    <div class="hero-wrap js-fullheight bk-img" id="cover_image">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="blog.html">Blog</a></span> <span>Blog Single</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> {{ strategy.strategyTitle }}</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ftco-animate">
              {% if strategy %}
              {% autoescape off %}
              <p>{{ strategy.content }}</p>
              {% endautoescape %}
              {% endif %}
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a class="tag-cloud-link">天数: {{ strategy.days }}</a>
                <a class="tag-cloud-link">人数: {{ strategy.peopleNumber }}</a>
                <a class="tag-cloud-link">预算: {{ strategy.budget }}</a>
              </div>
            </div>
            
            <div class="about-author d-flex p-5 bg-light">
              <div class="bio align-self-md-center mr-5">
                <img src="/static/images/frog.jpg" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc align-self-md-center">
                  {% if strategy %}
                <h3><a href="/u/{{ user.id }}">@{{ strategy.memberEmail.name }}</a></h3>
                <p>作者的自我介绍：1.通过旅行，我们可以确信，即各民族之间是有国界，而人的愚蠢行为是没有国界的。 

                  2.从不出门的人，必定是满腹偏见。 
                  
                  3.世界是一本书，从不旅行的人等于只看了这本书的一页而已。 </p>
                {% endif %}
              </div>
            </div>
            <!-- 点赞 -->
            <div class="comment-form-wrap pt-5">
                {% if strategy %}
                <div class="form-group">
                    <button onclick="digg();" class="btn py-3 px-4 {% if digg_tag and digg_tag == 1 %}btn-primary{% endif %}" id="diggButton" style="color:white;"><img src="/static/images/digg.png" style="width: 30px; height: 30px;"></button>
                </div>
              <!-- <button class="btn py-3 px-4 btn-primary" onclick="digg();"><span class="flaticon-meeting-point">  点赞</span></button> -->
              {% endif %}
            </div>
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">评论</h3>
              <form id="commentForm" class="p-4 bg-light" method="POST">
                <!-- <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="website">Website</label>
                  <input type="url" class="form-control" id="website">
                </div> -->
                {% csrf_token %}
                <div class="form-group">
                    <!-- <label for="message">评论</label> -->
                    <textarea name="commentContent" cols="30" rows="3" class="form-control" ></textarea>
                </div>
                <div class="form-group">
                  <input type="button" value="发表" class="btn py-3 px-4 btn-primary" onclick="sendPost();">
                </div>

              </form>
            </div>

            <div class="pt-5 mt-5">
              <h3 class="mb-5">评论</h3>
              <ul class="comment-list">
                  {% for comment in comments %}
                  <li class="comment">
                      <div class="vcard bio">
                        <img src="/static/images/frog.jpg" alt="Image placeholder">
                      </div>
                      <div class="comment-body">
                        <h3>@{{ comment.useremail.name }}</h3>
                        <div class="meta">{{ comment.time }}</div>
                        <p>{{ comment.content }}</p>
                        <!-- <p><a href="#" class="reply">Reply</a></p> -->
                      </div>
                    </li>
                  {% endfor %}
              </ul>
              <!-- END comment-list -->
              
              
            </div>

          </div> <!-- .col-md-8 -->
          <div class="col-md-4 sidebar ftco-animate">
          
          </div>

        </div>
      </div>
    </section> <!-- .section -->
{% endblock %}
  

{% block script %}
<script type="text/javascript">
  function digg(){
      console.log('digg');
      $.ajax({
          url: "/api/digg/",
          data: {
              strategyId: {{ strategy.strategyId }}
          },
          success: function( result ) {
             if(result==1){
                  $("#diggButton").addClass("btn-primary");
                  console.log("add");
             }else if(result==0){
                 $("#diggButton").removeClass("btn-primary")
             }
          }
      });
  }
  
  function sendPost(){
    console.log("post");
    console.log( $("#commentForm"));
    $("#commentForm").submit();
  }
  </script>
{% endblock %}