{% extends "complete/base.html" %}

{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_3.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Destination</h1>
              <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="../index.html">Home</a></span> <span>Tour</span></p>

            <div class="block-17 my-4">
              <form action="" method="post" class="d-block d-flex">
                  {% csrf_token %}
                <div class="fields d-block d-flex">
{#                  <div class="textfield-search one-third" >#}
                  	<input type="text" name="searchKeywords" class="form-control" placeholder="请输入搜索关键词：景点、城市、用户名称或攻略名" value="{{ searchKeywords }}">
{#                  </div>#}
                </div>
                <input type="submit" class="search-submit btn btn-primary" value="搜索">
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
        	<div class="col-lg-3 sidebar ftco-animate">
        		<div class="sidebar-wrap bg-light ftco-animate">
        			<h3 class="heading mb-4">筛选攻略</h3>
        			<form action="#" method="post">
                        {% csrf_token %}
        				<div class="fields">
		              <div class="form-group">
                        <input type="hidden" name="filterOrSearch" value="filter">
		              </div>
                      <div class="form-group">
		                <input type="text" name="searchPeopleNumber" class="form-control" placeholder="请输入出行人数:" value="{{ searchPeopleNumber }}">
		              </div>
                       <div class="form-group">
		                <input type="text" name="searchDays" class="form-control" placeholder="请输入出行天数：" value="{{ searchDays }}">
		              </div>
                      <div class="form-group">
		                <input type="text" name="searchBudget" class="form-control" placeholder="请输入预算（CNY）：" value="{{ searchBudget }}">
		              </div>
		              <div class="form-group">
		                <input type="submit" value="筛选" class="btn btn-primary py-3 px-5">
		              </div>
		            </div>
	            </form>
        		</div>
          </div>
          <div class="col-lg-9">
          	<div class="row">
                {% for  strategy in strategyList %}
          		<div class="col-md-4 ftco-animate">
		    				<div class="destination">
		    					<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/static/images/destination-1.jpg);">
		    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
		    					</a>
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">
				    						<h3><a href="#">{{strategy.strategyTitle }}</a></h3>
				    						<p class="rate">
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
{#                                                <i class="icon-star"></i>#}
{#				    							<i class="icon-star-o"></i>#}
				    							<span>点赞数：{{ strategy.diggNumber }}</span>
				    						</p>
			    						</div>
			    						<div class="two">
                                            <span class="price">¥<span>{{ strategy.budget }}</span></span>
		    							</div>
		    						</div>
                                    <p class="days"><span>作者：{{strategy.name }}</span></p>
                                    <p class="days"><span>发布时间：{{ strategy.createDate }}</span></p>
                                    <p class="days"><span>{{ strategy.days }}天，{{ strategy.peopleNumber }}人游</span></p>
                                    <hr>
		    						<p>{{ strategy.content| slice:":30" }}......</p>


		    					</div>
		    				</div>
		    			</div>
                {% endfor %}
          	</div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->
{% endblock %}
