{% extends "complete/base.html" %}
{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_2.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <!-- 此行修改 -->
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">主页</a></span> <span>修改密码</span></p>
            <!-- 此行修改 -->
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">修改密码</h1>
          </div>
        </div>
      </div>
    </div>

		<section class="ftco-section contact-section ftco-degree-bg">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <!-- 此行修改 -->
            <h2 class="h4">修改密码</h2>
          </div>
          <div class="w-100"></div>
          <!-- 此行修改 -->
          <!--<div class="col-md-3">
            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
          </div>
          <div class="col-md-3">
            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Website</span> <a href="#">yoursite.com</a></p>
          </div>-->
        </div>
        <div class="row block-9">
          <div class="col-md-6 pr-md-5">
            <form action="#" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input id="password" name="password" type="text" class="form-control" placeholder="旧密码">
              </div>
              <div class="form-group">
                <input id="password1" name="password1" type="text" class="form-control" placeholder="新密码第一次">
              </div>
              <div class="form-group">
                <input id="password2" name="password2" type="text" class="form-control" placeholder="新密码第二次">
              </div>
              <div class="form-group">
                <input type="submit" value="修改" class="btn btn-primary py-3 px-5">
              </div>
            </form>
            <div class="form-group" id="content">
                    <div id="disappare_password" style="display:none;">
                        <h3>{{res.result}}</h3>
                        <p></p>
                    </div>
                </div>
          </div>
          <div class="col-md-6" id="map"></div>
        </div>
      </div>
    </section>
{% endblock%}